html, body {
    padding: 0;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
body > section {
    min-height: 70%;
}
body > section,
footer,
.main-section {
    display: flex;
    justify-content: center;
    line-height: 1.5;
}
#main-doc {
    flex-grow: 1;
    flex-basis: 100%;
    justify-content: center;
    padding: 20px;
    overflow: auto;
}
.main-section {
    border-radius: 5px;
    background-color: #f3f3f3;
    padding: 20px;
    margin-bottom: 20px;
    flex: 1 1 auto;
    flex-direction: row;
    display: grid;
    justify-content: left;
    width: auto;
}
.main-section > header {
    font-weight: bold;
    font-size: 2em;
}
.highlight {
    background-color: rgb(218, 197, 78);
    display: inline-block;
    margin: 10px 0px;
    padding: 5px;
    width: auto;
}
code {
    background-color: white;
}
label {
    text-decoration: underline;
    font-weight: bold;
}
aside {
    background-color: lightblue;
    height: 100%;
    flex-grow: 0;
    flex-basis: 30%;
    align-items: center;
    display: flex;
}
footer {
    display: flex;
    background-color: rgb(218, 218, 218);
    flex: 0 0 100px;
    align-items: center;
}